body{
    background-image: url("../images/galaxy.gif");
}

h1#title{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: red 2px 2px;
    margin-left: 220px;
}

#c-kg {
    border-radius: 8px;
    width: 300px;
    height: 30px;
    margin-left: 400px;
}

#planet{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    margin-left: 20px;
}

#btn-cal{
    border-radius: 8px;
    width: 150px;
    height: 30px;
    background-color: gray;
    color: white;
    margin-left: 20px;
}

#group-display{
    background-color: rgba(5, 5, 5, 0.3);
    width: 800px;
    height: 400px;
    margin: 100px 0px 0px 300px;
    border-radius: 8px;
}

.display-image{
    margin: 60px 0px 0px 50px;
}


.image{
    display: inline;
    float: left;
    margin-right: 40px;
}

.info{
    display: flex;
    background-color: rgba(162, 162, 165, 0.3);
    color: white;
    font-size: 30px;
    border-radius: 8px;
    align-items: center;
    width: auto;
    justify-content: center;
    height: 400px;
    margin-right: inherit;
    
    /* float: left; */
}

